html,
body {
 font-family: 'Supermercado One', cursive, Arial, Helvetica, sans-serif
}
footer {
  text-align: center;
  margin: 1.5em 0 0;
  font-size: .9em;
  font-family: Arial, Helvetica, sans-serif
}
.icon {
  width: 25px;
  height: 25px;
}
.icon-text {
  font-size: 1.25em;
  font-weight: bold;
  text-shadow: 0px 0px 10px  black; 
  position: relative;
  color: white;
  bottom: 7px;
  right: 32px;
}
.link {
  text-decoration: none;
  color: #646464
}
  .link:hover {
    filter: brightness(125%);
  }
  .link:active {
    filter: brightness(140%);
	}
	
.card__container {
  margin-top: 1rem;
  width: 300px;
  padding: 0px 10px 15px;
  border: ridge 5px #2f2f30;
  border-radius: 5px;
  box-shadow: 4px 5px 8px 2px #8d8c8c;
  background-color: #c9c5c5;
  opacity: 1;
  animation: fadeIn 2s;
	background: radial-gradient(#313133, #85858b, #d2d2dd);
	margin: 3rem auto 0;
}
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
	.card__top {
		background-color: #696870;
		padding: .5em;
		margin: .5em 0;
		border-radius: 100px;
		border: solid 5px #2f2f30;
		display: flex;
		justify-content: center;
	}
		.card__title {
			display: inline-block;
			font-size: 1.6em;
			margin: 0 0 0 .5em;
			color: #d7e1e6;
			text-shadow: 0 0 5px #646262;
			animation: ghost 8s infinite ease-in-out;
		}
			@keyframes ghost {
				50% {color: #646262; text-shadow: 0 0 10px #ffffff;}
			}
	.card__image {
		width: 300px; 
		height: 200px;
		box-sizing: border-box;
		border: solid 4px #2f2f30;
		border-radius: 4px;
		overflow: hidden;
	}
	.card__info {
		font-size: .9em;
		padding: 0px 10px;
		margin-top: 10px;
		border: solid 4px #2f2f30;
		border-radius: 8px; 
		background-color: #eeeeee;
		transition: transform .4s ease-in-out; 
		position: relative;
		z-index: 998;
		opacity: .9;
	}
		.card__info:hover {
			transform: scale(1.15);
			z-index: 999;
			opacity: 1;
		}
		.card__info-fact {
			text-align: center;
		}
		.card__info-list {
			list-style-type: none;
			padding: 0;
		}
			.card__info-list>li>span {
				font-weight: bold;
			}

